body{
    background-color: #f5f5f5;
    font-family: Lato;
}
.form{
    width: 35%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    box-shadow:  0 0 5px rgb(128, 128, 128);
    padding: 1em 2em 2em 2em;
    border-radius: 10px;
}
.item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1.5em 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.item input{
    background-color: #f1f0ee;
    padding: 5px 0;
    border: 1px solid #cdc7c2;
    border-radius: 5px;
    padding-left: 15px;
}

.item select{
    background-color: #f1f0ee;
    padding: 5px 0;
    border: 1px solid #cdc7c2;
    border-radius: 5px;
    padding-left: 15px;
}

select:hover{
    background-color: #f9f9f9;
}

.submit{
    display: grid;
    grid-template-columns:1fr;
    /* border: 1px solid #cdc7c2; */
}

.submit input{
    padding: 6px 0;
    background-color: #f1f0ee;
    color: black;
    border: 1.5px solid #cdc7c2;
    border-radius: 5px;
}

input:hover{
    background-color: #f9f9f9;
}

h1{
    text-align: center;
    padding-bottom: 0.5em;
}