<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/predict" method="POST">
        <input placeholder="Age" name="age" type="number" required> <br>
        <label for="sex">Sex: </label>
        <select id="sex" name="sex">
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select> <br>
        <label for="chestPain">Chest Pain: </label>
        <select id="chestPain" name="chestPain">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> <br>
        <input placeholder="Resting blood pressure" name="restingBloodPressure" type="number" required> <br>
        <input placeholder="Serum cholestoral in mg/dl" name="serumCholestoral" type="number" required> <br>
        <!-- If > 120 mg/dl then = 1     -->
        <input placeholder="Fasting blood sugar" name="fastingBloodSugar" type="number" required> <br>
        <label for="restingelEctrocardiographicResults">Restingel Ectrocardiographic Results: </label>
        <select id="restingelEctrocardiographicResults" name="restingelEctrocardiographicResults">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select> <br>
        <input placeholder="Maximum heart rate achieved" name="maximumHeartRateAchieved" type="number" required> <br>
        <!-- <input placeholder="Exercise induced angina" name="exerciseInducedAngina" required> <br> -->
        <label for="exerciseInducedAngina">Exercise Induced Angina: </label>
        <select id="exerciseInducedAngina" name="exerciseInducedAngina">
            <option value="0">Yes</option>
            <option value="1">No</option>
        </select> <br> 
        <input placeholder="Oldpeak" name="oldpeak" type="number" step="0.01" required> <br>
        <label for="stSegment">Slope of the peak exercise ST segment: </label>
        <select id="stSegment" name="stSegment">
            <option value="0">0</option>
            <option value="1">1</option>Yes
            <option value="2">2</option>
        </select> <br> 
        <label for="numberOfVessels">Number of major vessels: </label>
        <select id="numberOfVessels" name="numberOfVessels">
            <option value="0">0</option>
            <option value="1">1</option>Yes
            <option value="2">2</option>
            <option value="3">3</option>
        </select> <br> 
        <label for="numberOfVessels">Thal: </label>
        <select id="thal" name="thal">
            <option value="0">Normal</option>
            <option value="1">Fixed defect</option>Yes
            <option value="2">Reversable defect</option>
        </select> <br> 
        <input type="submit" value="Predict">
    </form>

    <div>
        <span> {{response}} </span>
    </div>

</body>
</html>